@font-face {
    font-family: Exo;
    src: url(../fonts/static/Exo-SemiBold.ttf);
  }
body{
  font-family:Exo;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  
}
.table
{
    margin: auto;
    margin-top: 5rem;
    margin-bottom: 6rem;
    border: rgb(214, 209, 209) 1px solid;
    
} 
main {
    margin: 1rem 0;
}
.textpcard
{
    text-align: left;
}

button{
  background-color: #EFCFCF;
  color: #1C315E;
  border-radius: 5%;
  border: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

button:hover {
  background-color: white;
  border: 1px solid #EFCFCF;
  padding: 0.4rem 0.9rem;
}
